<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="static/js/quest.js"></script>
    <title>Hello world!</title>
  </head>
  <body>
    <main class="container">
      <article>
        <header>
          {% if new_party %}
          {{game_data.name}} Completed!
          {%else%}
          Welcome to a CRUDe Game
          {%endif%}
        </header>
        <body id="game_context">
          {% if new_party %}
          <div>
            <!--  -->
            <p>{{ game_data.answer_response }}</p>
            <p><strong>Directions to the next level:</strong><br>
              {{ game_data.next_level }}</p>
            <!-- SECRET HINT: 
              Good job on being nosy! Though this is the only secret hint you will find in the game due to.... time.
              A hint: Your browsers can only make GET requests, so it will get you to the next level but after that you will have to consider other ways to make HTTP requests.
              -->
            <p><strong>Hint:</strong><br>
              You got all the information you need - but if you have any comments, try reading between the lines.</p>
          </div>
          {% else %}
          <!-- REGISTER -->
          <form method="POST" action="{{url_for('auth.register')}}" role="group" class="register-form" required>
            <input type="text" id="username-input" name="username" placeholder="Enter your party's name here. For you own sake - do not use spaces" required>
            <button type="submit">Begin</button>
          </form>
          {% endif %}
        </body>
        <footer id="game-feedback">
          {% if new_party %}
          <p><i>
              Come back here to follow the leaderboard - but you must prepare to leave the safe space of pretty pixels.<br>
              There a many ways to travel...
            </i></p>
          {%else%}
          <p>{{reg_msg}}</p>
          {%endif%}
        </footer>
      </article>
      <details>
        <summary role="button" class="contrast">Game manual</summary>
        <p>
          In this game, you must make different HTTP requests to complete each level. 
          Each time you complete a section, your level will increase, which is shown on the leaderboard.<br>
          
        </p>
        <p><b>RULES</b><br></p>
        <ul>
          <li>All level routes begins from the base URL. e.g. URL/a_level.</li>
          <li>A route only accepts one method type: GET, POST, PUT, or DELETE.</li>
          <li>A route only accepts one data format: URL/path/&lt;parameters&gt;, &#123; JSON : data &#125;, Form data + a late surprise</li>
          <li>Always include your registered <b><i>party_name</i></b> in your HTTP requests for the game to identify you.</li>
          <li>A quest is solved by sending an <b><i>answer</i></b> in your request.</li>
        </ul>
        <p><b>COMPLETE A LEVEL</b><br>To complete a level you must make a request with the correct combination of:</p>
        <ul>
          <li>route </li>
          <li>method </li> 
          <li>data format</li>
          <li>quest answer </li>
          <li>your party_name</li>
        </ul>
        <p><b>HOW TO WIN</b><br></p>
          <li>To win the game, you must complete all 10 sections.</li>
        <p><b>HINTS</b><br></p>
        <ul>
          <li>You should always receive a JSON response from the game - unless something broke or you are outside the playingfield.</li>
          <li>Read the <b><i>request_report</i></b> carefully. It should tell you if anything is wrong with your method or party_name.</li>
          <li>Read the <b><i>level_info</i></b> carefully. There are many clues/hints/puns wrapped in story noise.</li>
          <li>An <b><i>HTTP CLIENT</i></b> is a great tool for this game but it is also a good chance to practice some python and JavaScript.</li>
        </ul>
        
        <p><br>BEST OF LUCK!</p>
      </details>
      <!-- LEADER BOARD -->
      <article>
        <header>Leader board</header>
        <body>
          <table>
            <thead>
              <tr>
                <th scope="col">Team</th>
                <th scope="col">Level</th>
                <th scope="col"><img class="icons" width="50px" height="auto" alt="git icon" src="https://images.vexels.com/content/202527/preview/black-cat-avatar-line-icon-796782.png" style="filter: invert(100%);"></th>
                <th scope="col"><img class="icons" width="100px" height="auto" alt="gate icon" src="https://static.vecteezy.com/system/resources/previews/052/294/921/non_2x/an-old-castle-gate-with-a-wooden-door-png.png"></th>
                <th><img class="icons" width="50px" height="auto" alt="crown icon" src="static/images/crown.png"></th>
              </tr>
            </thead>
            <tbody id="table_body">
              {%if teams%}
                  {% for team in teams%}
                  <tr>
                    <td>{{team.username}}</td>
                    <td>{{team.id}}</td>
                    <td><!-- Level progress indicators --></td>
                    <td><!-- Level progress indicators --></td>
                    <td><!-- Level progress indicators --></td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="5">No players yet!</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </body>
        <footer></footer>
      </article>
    </main>
  </body>
</html>