<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="static/js/quest.js"></script>
    <title>Hello world!</title>
  </head>
  <body>
    <main class="container">
      <article>
        <header>WoT of Thrones</header>
        <body id="game_context">
            {% if registration_complete %}
            {{ game_feedback}}
          {% else %}
          <form method="POST" action="/register" role="group" class="register-form" required>
            <input type="text" id="party" name="party" placeholder="Enter your team name to join the battle for glory...ish" required>
            <button type="submit">Begin</button>
          </form>
          {% endif %}
        </body>
        <footer id="game-feedback">
            
        </footer>
      </article>
      <!-- LEADER BOARD -->
      <article>
        <header>Leader board</header>
        <body>
          <table>
            <thead>
              <tr>
                <th scope="col">Team</th>
                <th scope="col">Level</th>
                <th scope="col"><img class="icons" width="50px" height="auto" alt="git icon" src="https://images.vexels.com/content/202527/preview/black-cat-avatar-line-icon-796782.png" style="filter: invert(100%);"></th>
                <th scope="col"><img class="icons" width="100px" height="auto" alt="gate icon" src="https://static.vecteezy.com/system/resources/previews/052/294/921/non_2x/an-old-castle-gate-with-a-wooden-door-png.png"></th>
                <th><img class="icons" width="50px" height="auto" alt="crown icon" src="static/images/crown.png"></th>
              </tr>
            </thead>
            <tbody id="table_body"></tbody>
            <!-- <tfoot>
              <tr>
                <th scope="row">Average</th>
                <td>9,126</td>
                <td>0.91</td>
                <td>341</td>
              </tr> -->
            <!-- </tfoot> -->
          </table>
        </body>
        <footer></footer>
      </article>
    </main>
  </body>
</html>