<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="static/js/quest.js"></script>
    <title>Hello world!</title>
  </head>
  <body>
    <main class="container">
      <article>
        <header>
          Welcome to a CRUDe Game
        </header>
        <body id="game_context">
          {% if new_user %}
          <div>
            <p><strong>Directions to the next level:</strong><br>
              ... I guess i should make something up here right?
            <p><strong>Hint:</strong><br>
              You got all the information you need - but if you have any comments, try reading between the lines.</p>
          </div>
          {% else %}
          <!-- REGISTER -->
          <form method="POST" action="{{url_for('auth.register')}}" role="group" class="register-form" required>
            <input type="text" id="username-input" name="username" placeholder="Enter your party's name here. For you own sake - do not use spaces" required>
            <button type="submit">Begin</button>
          </form>
          {% endif %}
        </body>
        <footer id="game-feedback">
          {% if new_party %}
          <p><i>
              Come back here to follow the leaderboard - but you must prepare to leave the safe space of pretty pixels.<br>
              There a many ways to travel...
            </i></p>
          {%else%}
          <p>{{reg_msg}}</p>
          {%endif%}
        </footer>
      </article>
      
      <!-- LEADER BOARD -->
      <article>
        <header>Leader board</header>
        <body>
          <table>
            <thead>
              <tr>
                <th scope="col">Team</th>
                <th scope="col">Level</th>
                <th scope="col"><img class="icons" width="50px" height="auto" alt="git icon" src="https://images.vexels.com/content/202527/preview/black-cat-avatar-line-icon-796782.png" style="filter: invert(100%);"></th>
                <th scope="col"><img class="icons" width="100px" height="auto" alt="gate icon" src="https://static.vecteezy.com/system/resources/previews/052/294/921/non_2x/an-old-castle-gate-with-a-wooden-door-png.png"></th>
                <th><img class="icons" width="50px" height="auto" alt="crown icon" src="static/images/crown.png"></th>
              </tr>
            </thead>
            <tbody id="table_body">
              {%if users%}
                  {% for user in users%}
                  <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td><!-- Level progress indicators --></td>
                    <td><!-- Level progress indicators --></td>
                    <td><!-- Level progress indicators --></td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="5">No players yet!</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </body>
        <footer></footer>
      </article>
    </main>
  </body>
</html>