<!-- LEADER BOARD -->
<article>
  <header>Leader board</header>
  <body>
    <table>
      <thead>
        <tr>
          <th scope="col">Team</th>
          <th scope="col">Level</th>
          <th scope="col"><img class="icons" width="50px" height="auto" alt="git icon" src="https://images.vexels.com/content/202527/preview/black-cat-avatar-line-icon-796782.png" style="filter: invert(100%);"></th>
          <th scope="col"><img class="icons" width="100px" height="auto" alt="gate icon" src="https://static.vecteezy.com/system/resources/previews/052/294/921/non_2x/an-old-castle-gate-with-a-wooden-door-png.png"></th>
          <th><img class="icons" width="50px" height="auto" alt="crown icon" src="static/images/crown.png"></th>
        </tr>
      </thead>
      <tbody id="table_body">
        {%if users%}
            {% for user in users%}
            <tr>
              <td>{{user.username}}</td>
              <td>{{user.xp}}</td>
              <td><!-- Level progress indicators --></td>
              <td><!-- Level progress indicators --></td>
              <td><!-- Level progress indicators --></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="5">No players yet!</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </body>
  <footer></footer>
</article>