<article>
    <header>
        <h1>{{content['title']}}</h1>
    </header>
    <body>
        <details open>
            <summary>Story</summary>
            <p>{{content['story']}}</p>
        </details>
        
        <details open>
            {% if content.status =='completed'%}
            <button class="btn btn--primary">Quest: Completed</button>
            <summary>Quest: Completed!</p></summary>
            {%else%}
            <button class="btn btn--accent">Quest: Active</button>
            {%endif%}
            <p>{{content['quest']}}</p>
        </details>

        {% if content.hints%}
            <details open>
                <summary>Hints</summary>
                {% for h in content.hints %}
                <p>{{h}}</p>
                {% endfor %}
                
            </details>
        {% endif %}

        <details open>
            <summary>Next path</summary>
            <p>{{content['next_path']}}</p>
        </details>
    </body>
    <footer>
        <p>Status: {{content['status']}}</p>
    </footer>
</article>