<div class="u-stack">
      <div class="terminal">
      <div class="terminal__bar">
        <span class="dot"></span>
        <!-- <span class="dot dot--red"></span>
        <span class="dot dot--yellow"></span>
        <span class="dot dot--green"></span> -->
        <span class="u-text-neon" style="margin-left:.5rem; font-family: var(--font-term); letter-spacing:.06em;">
            game/{{content['title']}}: 
            {%if content.status == 'completed'%} 
                <span class="u-text-cyan"> 
            {% elif content.status == 'locked'%} 
                <span class="u-text-pink">
            {%else%}
                <span class="u-text-neon">
            {%endif%}
            {{content.status}}</span>
        </span>
      </div>

      <!-- TERMINAL BODY -->
      <div class="terminal__body" id="terminal-body">

        <!-- STORY -->
        <div><span class="prompt">@story</span>:<span class="u-text-pink">~</span><code>{{content.story}}</code> </div>
        

        <!-- QUEST -->
        <div><span class="prompt">@quest</span>:<span class="u-text-pink">~</span>
            {%if content.status =='completed'%}
            <code>You have already completed, so you should GET to the next quest - but here it is:<br> </code> 
            {%endif%}
            <code>{{content.quest}}</code> 
        </div>

        <!-- NEXT STEPS -->
        {% if content.status == 'completed'%}
            <div><span class="prompt">@next</span>:<span class="u-text-pink">~</span><code>{{content.next_path}}</code> </div>
        {% else %}
            <div><span class="prompt">@next</span>:<span class="u-text-pink">~</span><code>Complete this quest to see what is next.</code> </div>
        {% endif%}

        <!-- HELP -->
        {% if content.hints%}
            {% for h in content.hints %}
                <div class="hidden hint"><span class="prompt">@hint</span>:<span class="u-text-pink">~</span><code>{{h}}</code> </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
    <label class="field">
        <span class="label">Terminal input</span>
        <input class="input terminal-input" placeholder="Write commands. Type /help to see valid commands." />
    </label>  
</div>
<script type="module" src="{{ url_for('static', filename='js/terminalInput.js') }}" defer></script>