{% extends 'base.html' %}
{%block title%}
Registration
{%endblock%}
{%block header%}
<h1>Please register</h1>
{%endblock%}
{%block body%}
    {%if content%}
        {%if content['error_msg']%}
            {%include 'error_base.html'%}
        {%else%}
            {%include 'quest_base.html'%}
            {% if content['status'] != 'COMPLETED' %}
                <form method="POST" action="{{url_for('auth.register')}}" role="group" class="register-form" required>
                    <input type="text" id="username-input" name="username" placeholder="Your name" required>
                    <button type="submit">Begin</button>
                </form>
            {%endif%}
        {%endif%}
    {%endif%}
    {%include 'leaderboard.html'%}
{%endblock%}
