{% extends 'base.html' %}
{%block title%}
Registration
{%endblock%}
{%block header%}
<h1>Please register</h1>
{%endblock%}
{%block body%}
    {%if content%}
        {%if content['error_msg']%}
            {%include 'error_base.html'%}
        {%else%}
            {%include 'quest_base.html'%}
            {% if content['status'] != 'COMPLETED' %}
            <h3 class="title title-lg u-text-neon u-glow-soft">Sign up</h3>
            <form method="POST" action="{{url_for('auth.register')}}" role="group" class="register-form" required>
                <section id="demo" class="u-grid u-grid-3 u-mt-xl">
                <div class="u-stack">
                    <input class="input" type="text" id="username-input" name="username" placeholder="Your name" required>
                </div>
                <div class="u-stack">
                    <button class="btn btn--primary u-glow-soft" type="submit">Register</button>
                </div>
                </section>
            </form>
            {%endif%}
        {%endif%}
    {%endif%}
    {%include 'leaderboard2.html'%}
{%endblock%}
